
{

  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@controllers": "./src/controllers",
          "@": "./src"
        }
      }
    ]
  ]
}
